@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Lexend+Deca:wght@100&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

body { 
      min-height: 100vh;
      background: white;
      padding: 0;
      margin: 0; 
      font-family: 'Lexend Deca', sans-serif;}
/* nav {
    background: #222;
    padding: 0 15px;
} */
a {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;

}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.5rem;
    color: #fd5f00;
    margin: 0;
  }

  nav ul {
	padding-left: 0;
}
				
nav li {
	list-style: none;
}
				
nav a {
	border-bottom: 1px solid #ccc;
	display: block;
	padding: .5rem .75rem;
	text-decoration: none;
}
				
nav a:hover, nav a:focus {
	background-color: blue;
	color: white;
	outline: none;
}

nav a:active {
	background-color: darkblue;
}

@media ( min-width: 600px ) {

	nav a {
		border: none;
		display: inline-block;
	}
	
	nav li {
		display: inline-block;
	}

}









/* nav {
    width: 100%;


}
  nav ul {
	padding-left: 0;
    background: rgba( 233, 236, 230, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
				
nav li {
	list-style: none;
}
				
nav a {
	border-bottom: 1px solid #ccc;
	display: block;
	padding: .5rem .75rem;
	text-decoration: none;
}
				
nav a:hover, nav a:focus {
    background: rgba( 126, 211, 33, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 0px;
    border: 0px solid rgba( 255, 255, 255, 0.18 );
}

nav a:active {
	background-color: darkblue;
}

@media ( min-width: 600px ) {

	nav a {
		border: none;
		display: inline-block;
	}
	
	nav li {
		display: inline-block;
	}

} */